@use "base/mixins" as m;
@use "base/variables" as v;

.meeti {
  &__nombre {
    @include m.heading;
    margin-bottom: 5rem;
  }
  &__grid {
    @include m.tablet {
      @include m.grid(3, 2rem);
    }
  }
  &__informacion {
    grid-column: 1/3;
  }
}
.sidebar {
  &__contenido {
    background-color: v.$secundario;
    padding: 2rem;
    text-align: center;
  }
  &__heading,
  &__texto {
    color: v.$blanco;
  }
  &__label{
    font-weight: 700;
  }
}
