@use "base/mixins" as m;
@use "base/variables" as v;
.hero {
  min-height: 60rem;
  background-image: url(../img/hero.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  &__texto {
    max-width: 60rem;
    color: v.$blanco;
  }
  &__enlace {
    @include m.boton(v.$terciario, v.$blanco);
  }
}
